<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wheelchair.wym.dao.AdminMapper">

    <resultMap type="com.wheelchair.wym.entity.Admin" id="BasicMap">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="userpwd" jdbcType="VARCHAR" property="userpwd"/>
    </resultMap>

    <resultMap type="com.wheelchair.wym.entity.Users" id="AllUserMap">
        <id column="u_id" jdbcType="INTEGER" property="uID"/>
        <result column="u_name" jdbcType="VARCHAR" property="uName"/>
        <result column="u_password" jdbcType="VARCHAR" property="uPassword"/>
        <result column="u_phone_number" jdbcType="VARCHAR"
                property="uPhoneNumber"/>
        <result column="u_nickname" jdbcType="VARCHAR" property="uNickName"/>
        <result column="u_birthdate" jdbcType="DATE" property="uBirthdate"/>
        <result column="u_age" jdbcType="INTEGER" property="uAge"/>
        <result column="u_gender" jdbcType="VARCHAR" property="uGender"/>
    </resultMap>

    <resultMap type="com.wheelchair.wym.entity.Wheelchair"
               id="AllWheelchairMap">
        <id column="h_id" jdbcType="INTEGER" property="hID"/>
        <result column="wheelchair_desc" jdbcType="VARCHAR"
                property="wheelchairDesc"/>
        <result column="wheelchair_model" jdbcType="VARCHAR"
                property="wheelchairModel"/>
        <result column="wheelchair_area" jdbcType="VARCHAR"
                property="wheelchairArea"/>
        <result column="wheelchair_floor" jdbcType="VARCHAR"
                property="wheelchairFloor"/>
        <result column="wheelchair_type" jdbcType="VARCHAR"
                property="wheelchairType"/>
        <result column="wheelchair_price" jdbcType="VARCHAR"
                property="wheelchairPrice"/>
        <result column="wheelchair_address" jdbcType="VARCHAR"
                property="wheelchairAddress"/>
        <result column="wheelchair_image" jdbcType="VARCHAR"
                property="wheelchairImage"/>
        <result column="community_name" jdbcType="VARCHAR"
                property="communityName"/>
        <result column="wheelchair_linkman" jdbcType="VARCHAR"
                property="wheelchairLinkMan"/>
        <result column="wheelchair_oriented" jdbcType="VARCHAR"
                property="wheelchairOriented"/>
        <result column="wheelchair_detailes_img" jdbcType="VARCHAR"
                property="wheelchairDetailsImg"/>
        <result column="publisher" jdbcType="VARCHAR" property="publisher"/>
        <result column="publish_time" jdbcType="VARCHAR"
                property="publishTime"/>
    </resultMap>

    <resultMap type="com.wheelchair.wym.entity.UserOrder" id="UserOrderMap">
        <id column="o_id" jdbcType="INTEGER" property="oID"/>
        <result column="c_id" jdbcType="INTEGER" property="cID"/>
        <result column="u_id" jdbcType="INTEGER" property="uID"/>
        <result column="community_name" jdbcType="VARCHAR" property="cName"/>
        <result column="chair_no" jdbcType="VARCHAR" property="chairNo"/>
        <result column="name" jdbcType="VARCHAR" property="uName"/>
        <result column="phone" jdbcType="VARCHAR" property="uPhone"/>
        <result column="address" jdbcType="VARCHAR" property="uAddress"/>
        <result column="start_date" jdbcType="VARCHAR" property="startDate"/>
        <result column="end_date" jdbcType="VARCHAR" property="endDate"/>
        <result column="order_status" jdbcType="VARCHAR"
                property="orderStatus"/>
    </resultMap>

    <resultMap id="RepairOrderMap" type="com.wheelchair.wym.entity.RepairOrder">
        <id column="id" jdbcType="INTEGER" property="repairOrderID"/>
        <result column="oID" jdbcType="INTEGER" property="oID"/>
        <result column="u_id" jdbcType="INTEGER" property="uID"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="pickupDate" jdbcType="VARCHAR" property="pickupDate"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="orderStatus" jdbcType="INTEGER" property="orderStatus"/>
    </resultMap>

    <resultMap id="DeliveryOrderMap"
               type="com.wheelchair.wym.entity.DeliveryOrder">
        <id column="d_id" jdbcType="INTEGER" property="dID"/>
        <result column="u_id" jdbcType="INTEGER" property="uID"/>
        <result column="c_id" jdbcType="INTEGER" property="cID"/>
        <result column="order_status" jdbcType="INTEGER"
                property="orderStatus"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
    </resultMap>

    <resultMap id="ChairMap" type="com.wheelchair.wym.entity.Chair">
        <id column="c_id" jdbcType="INTEGER" property="cID"/>
        <result column="h_id" jdbcType="INTEGER" property="hID"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="u_id" jdbcType="INTEGER" property="uID"/>
        <result column="last_maintenance_date" jdbcType="VARCHAR"
                property="lastMaintenanceDate"/>
        <result column="chair_no" jdbcType="VARCHAR" property="chairNo"/>
    </resultMap>

    <!-- 管理员登录 -->
    <select id="adminAccess" resultMap="BasicMap"
            parameterType="com.wheelchair.wym.entity.Admin">
        select *
        from t_admin
        where username = #{username}
          and userpwd = #{userpwd}
    </select>

    <!-- 查询所有用户 -->
    <select id="findAllUser" resultMap="AllUserMap" parameterType="map">
        select *
        from t_users
        where 1=1
        <if test="uName != null and uName != ''">
            AND u_name LIKE CONCAT('%', #{uName}, '%')
        </if>
        <if test="uPhoneNumber != null and uPhoneNumber != ''">
            AND u_phone_number LIKE CONCAT('%', #{uPhoneNumber}, '%')
        </if>
        limit #{page.page}, #{page.limit}
    </select>

    <select id="findAllWheelchair" resultMap="AllWheelchairMap"
            parameterType="com.wheelchair.wym.entity.Page">
        select *
        from t_wheelchair
        limit #{page},#{limit}
    </select>

    <delete id="deleteWheelchair" parameterType="int">
        delete
        from t_wheelchair
        where h_id = #{hID}
    </delete>

    <select id="findUserById" parameterType="int" resultMap="AllUserMap">
        select *
        from t_users
        where u_id = #{uID}
    </select>

    <update id="updateUser" parameterType="com.wheelchair.wym.entity.Users">
        update t_users
        set u_name        = #{uName},
            u_password    = #{uPassword},
            u_phone_number=#{uPhoneNumber},
            u_nickname    = #{uNickName}
        where u_id = #{uID}
    </update>

    <delete id="deleteUser" parameterType="int">
        delete
        from t_users
        where u_id = #{uID}
    </delete>

    <select id="checkAdminPwd" parameterType="com.wheelchair.wym.entity.Admin"
            resultMap="BasicMap">
        select *
        from t_admin
        where userpwd = #{userpwd}
          and id = #{id}
    </select>

    <!-- 管理员查询租赁订单，按用户手机号、轮椅编号、订单状态过滤 -->
    <select id="findOrderByCondition" parameterType="map" resultMap="UserOrderMap">
        select o.*, h.community_name AS community_name, c.chair_no AS chair_no
        from t_order o
        join t_chair c on o.c_id = c.c_id
        join t_wheelchair h on c.h_id = h.h_id
        where 1=1
        <if test="uPhone != null and uPhone != ''">
            AND o.phone LIKE CONCAT('%', #{uPhone}, '%')
        </if>
        <if test="chairNo != null and chairNo != ''">
            AND c.chair_no LIKE CONCAT('%', #{chairNo}, '%')
        </if>
        <if test="orderStatus != null">
            AND o.order_status = #{orderStatus}
        </if>
        limit #{page.page}, #{page.limit}
    </select>



    <select id="findAllRepairOrder"
            parameterType="map"
            resultMap="RepairOrderMap">
        select r.*, o.u_id
        from t_repair_order r
                 join t_order o on r.oID = o.o_id
        where 1=1
        <if test="phone != null and phone != ''">
            AND r.phone LIKE CONCAT('%', #{phone}, '%')
        </if>
        <if test="type != null and type != ''">
            AND r.type = #{type}
        </if>
        <if test="orderStatus != null">
            AND r.orderStatus = #{orderStatus}
        </if>
        <choose>
            <when test="timeSort == 'asc'">
                ORDER BY r.pickupDate ASC  <!-- 时间升序排序 -->
            </when>
            <when test="timeSort == 'desc'">
                ORDER BY r.pickupDate DESC  <!-- 时间降序排序 -->
            </when>
            <otherwise>
                ORDER BY r.id DESC  <!-- 默认按维修/保养订单ID降序排序 -->
            </otherwise>
        </choose>
        limit #{page.page}, #{page.limit}
    </select>

    <update id="updateAdminPwd" parameterType="com.wheelchair.wym.entity.Admin">
        update t_admin
        set userpwd=#{userpwd}
        where id = #{id}
    </update>

    <update id="confirmRepairOrder" parameterType="int">
        update t_repair_order
        set orderStatus = #{status}
        where id = #{id}
    </update>

    <select id="findAllDeliveryOrder"
            parameterType="map"
            resultMap="DeliveryOrderMap">
        SELECT *
        FROM t_delivery_order
        WHERE 1=1
        <if test="phone != null and phone != ''">
            AND phone LIKE CONCAT('%', #{phone}, '%')
        </if>
        <if test="type != null">
            AND type = #{type}
        </if>
        <if test="orderStatus != null">
            AND order_status = #{orderStatus}
        </if>
        <choose>
            <when test="timeSort == 'asc'">
                ORDER BY date ASC  <!-- 根据时间升序排序 -->
            </when>
            <when test="timeSort == 'desc'">
                ORDER BY date DESC  <!-- 根据时间降序排序 -->
            </when>
            <otherwise>
                ORDER BY d_id DESC  <!-- 默认按订单 ID 降序排序 -->
            </otherwise>
        </choose>
        LIMIT #{page.page}, #{page.limit}
    </select>

    <!-- 查询男女用户数量 -->
    <select id="countGender" resultType="map">
        SELECT u_gender,
               COUNT(*) AS count
        FROM t_users
        GROUP BY u_gender
    </select>

    <select id="findAllChair" parameterType="map" resultMap="ChairMap">
        SELECT *
        FROM t_chair
        WHERE 1=1
        <if test="chairNo != null and chairNo != ''">
            AND chair_no LIKE CONCAT('%', #{chairNo}, '%')  <!-- 模糊匹配 -->
        </if>
        <if test="status != null">  <!-- 假设 -1 表示不按状态筛选 -->
            AND status = #{status}
        </if>
        <!-- 实现分页逻辑 -->
        LIMIT #{p.page}, #{p.limit}
    </select>


    <!-- 查询不同年龄段的用户数量 -->
    <select id="countAgeGroups" resultType="map">
        SELECT CASE
                   WHEN u_age &lt; 10 THEN '0-9'
                   WHEN u_age &lt; 20 THEN '10-19'
                   WHEN u_age &lt; 30 THEN '20-29'
                   WHEN u_age &lt; 40 THEN '30-39'
                   WHEN u_age &lt; 50 THEN '40-49'
                   WHEN u_age &lt; 60 THEN '50-59'
                   WHEN u_age &lt; 70 THEN '60-69'
                   WHEN u_age &lt; 80 THEN '70-79'
                   ELSE '80+'
                   END  AS age_group,
               COUNT(*) AS count
        FROM t_users
        GROUP BY age_group</select>

    <select id="getChairCount" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM t_chair
        WHERE 1=1
        <if test="chairNo != null and chairNo != ''">
            AND chair_no LIKE CONCAT('%', #{chairNo}, '%')  <!-- 模糊匹配 -->
        </if>
        <if test="status != null">  <!-- 假设 -1 表示不按状态筛选 -->
            AND status = #{status}
        </if>
    </select>

    <select id="getUserCount" parameterType="map" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM t_users
        WHERE 1=1
        <if test="uName != null and uName != ''">
            AND u_name LIKE CONCAT('%', #{uName}, '%')
        </if>
        <if test="uPhoneNumber != null and uPhoneNumber != ''">
            AND u_phone_number LIKE CONCAT('%', #{uPhoneNumber}, '%')
        </if>
    </select>
    <select id="getWheelchairCount" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM t_wheelchair
    </select>

    <select id="getDeliveryOrderCount" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM t_delivery_order
        WHERE 1=1
        <if test="phone != null and phone != ''">
            AND phone LIKE CONCAT('%', #{phone}, '%')
        </if>
        <if test="type != null">
            AND type = #{type}
        </if>
        <if test="orderStatus != null">
            AND order_status = #{orderStatus}
        </if>
    </select>

    <select id="getRepairOrderCount" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM t_repair_order
        where 1=1
        <if test="phone != null and phone != ''">
            AND phone LIKE CONCAT('%', #{phone}, '%')
        </if>
        <if test="type != null and type != ''">
            AND type = #{type}
        </if>
        <if test="orderStatus != null">
            AND orderStatus = #{orderStatus}
        </if>
    </select>

    <select id="getOrderCountByCondition" parameterType="map" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM t_order o
        JOIN t_chair c ON o.c_id = c.c_id
        WHERE 1=1
        <if test="uPhone != null and uPhone != ''">
            AND o.phone LIKE CONCAT('%', #{uPhone}, '%')
        </if>
        <if test="chairNo != null and chairNo != ''">
            AND c.chair_no LIKE CONCAT('%', #{chairNo}, '%')
        </if>
        <if test="orderStatus != null">
            AND order_status = #{orderStatus}
        </if>
    </select>



</mapper>
